@model DomainModel.Content.Order

<!-- cart-main-area start -->
<div class="cart-main-area ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Фото</th>
                                    <th class="product-name">Товар</th>
                                    <th class="product-price">Цена</th>
                                    <th class="product-quantity">Количество</th>
                                    <th class="product-subtotal">Итого</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderProducts)
                                {                                 
                                    <tr>
                                        <td class="product-thumbnail"><a asp-controller="Product" asp-action="Details" asp-route-Id="@item.Product.Id"><img src="@item.Product.Photos.FirstOrDefault()?.Path" alt="product img" /></a></td>
                                        <td class="product-name"><a asp-controller="Product" asp-action="Details" asp-route-Id="@item.Product.Id">@item.Product.Name</a></td>
                                        <td class="product-price"><span class="amount">@item.Product.Price руб.</span></td>
                                        <td class="product-quantity" style="font-size: 16px;">@item.Count</td>
                                        <td class="product-subtotal">@(item.Product.Price * item.Count) руб.</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-7 col-xs-12">                           
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="cart_totals">
                                <h2>Стоимость заказа</h2>
                                <table>
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Итоговая стоимость:</th>
                                            <td><span class="amount">@Model.OrderPrice руб.</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Доставка:</th>
                                            <td>
                                                <ul id="shipping_method">
                                                    <li>                                                                                                               
                                                        <label>
                                                            Бесплатная доставка
                                                        </label>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </td>
                                        </tr>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- cart-main-area end -->