@model WebSite.Models.Navigation.MenuItemViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "CreateMenuItem";
}

<div class="page-layout simple left-sidebar-floating doc forms-doc">
    <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
        <div class="col">
            <div class="row no-gutters align-items-center flex-nowrap">
                <button type="button" class="sidebar-toggle-button btn btn-icon d-inline-block d-lg-none mr-2 fuse-ripple-ready" data-fuse-bar-toggle="contacts-sidebar">
                    <i class="icon icon-menu"></i>
                </button>
                <!-- APP TITLE -->
                <div class="logo row no-gutters align-items-center flex-nowrap">
                    <span class="logo-icon mr-4">
                        <i class="icon-account-box s-6"></i>
                    </span>
                    <span class="logo-text h4">@Localizer["Creating a menu page"]</span>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content p-4 p-sm-6">
            <div class="content container">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="example">
                            <div class="description">
                                <div class="description-text">
                                    <h5>@Localizer["Creating a menu page"]</h5>
                                </div>
                            </div>
                            <div class="source-preview-wrapper">
                                <div class="preview">
                                    <div class="preview-elements">
                                        <form asp-action="CreateMenuItem">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label asp-for="Name" class="control-label"></label>
                                                    <input asp-for="Name" class="form-control" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                                <label asp-for="Order" class="control-label"></label>
                                                <input asp-for="Order" class="form-control" />
                                                <span asp-validation-for="Order" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" hidden="hidden">
                                                <label asp-for="Controller" class="control-label"></label>
                                                <input asp-for="Controller" class="form-control" />
                                                <span asp-validation-for="Controller" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" hidden="hidden">
                                                <label asp-for="Action" class="control-label"></label>
                                                <input asp-for="Action" class="form-control" />
                                                <span asp-validation-for="Action" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CustomUrl" class="control-label"></label>
                                                <input asp-for="CustomUrl" class="form-control" />
                                                <span asp-validation-for="CustomUrl" class="text-danger"></span>
                                            </div>
                                            <div class="form-group form-check">
                                                @*<label asp-for="IsHidden" class="control-label"></label>*@
                                                @Html.EditorFor(x => x.IsHidden, "CheckBox")
                                            </div>
                                            <div class="form-group" hidden="hidden">
                                                <label asp-for="MenuId" class="control-label"></label>
                                                <input asp-for="MenuId" class="form-control" />
                                                <span asp-validation-for="MenuId" class="text-danger"></span>
                                            </div>
                                            <select asp-for="PageId" asp-items="@Model.Pages.Select(_=> new SelectListItem {Text = _.Name, Value = _.Id.ToString() })">
                                                <option value="">@Localizer["Choose a page"]</option>
                                            </select>

                                            <div class="form-group">
                                                <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
